.DrawerToggle {
	width: 40px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 25px;
	left: 25px;
}

.DrawerToggle div {
	width: 90%;
	height: 3px;
	background-color: white;
	border-radius: 2px;
	margin: 5px;
}

@media (min-width: 500px) {
	.DrawerToggle {
		display: none;
	}
}
